<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>https://sfpl.bibliocommons.com/v2/search?query=</string>
		<key>Key</key>
		<string>localLibrary</string>
		<key>Title</key>
		<string>Local Library</string>
		<key>Titles</key>
		<array>
			@SAFARI_OPTIONS_KEYS_HTML@
		</array>
		<key>Type</key>
		<string>ListBox</string>
		<key>Values</key>
		<array>
			@SAFARI_OPTIONS_VALUES_HTML@
		</array>
	</dict>
</array>
</plist>
