<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>@SAFARI_BUNDLE_IDENTIFIER@</string>
       <key>Developer Identifier</key>
       <string>@SAFARI_DEVELOPER_ID@</string>
       <key>CFBundleVersion</key>
       <string>1</string>
       <key>CFBundleShortVersionString</key>
       <string>@EXTENSION_VERSION@</string>
       <key>URL</key>
       <string>@SAFARI_FILE_URL@</string>
     </dict>
   </array>
</dict>
</plist>
